video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

.textbox-1 { 
    text-indent: 50px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    width: 50%;
    color: #fff;
    line-height: 35px;
    
}

.about-container {
    height: 100vh;
    width: 100%;
    display: flex;
    object-fit: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}